@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header .wrapper {
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(43, 46, 55);
  font-size: 40px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

form {
  width: 55%;
  margin: 40px auto;
}
form > ul:first-child,
#list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

form > ul:first-child li {
  width: 50%;
  padding: 10px;
}

form > ul label {
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: burlywood;
}
.Item,
.Quantity {
  padding: 5px;
  margin: 0 1%;
}

form > ul:last-of-type {
  display: flex;
  justify-content: center;
  padding: 20px;
}

form > ul:last-of-type li  {
  margin: 10px;
}

.Save,
.Update,
.Delete,
#shoppinglist input[type="button"] {
  padding: 10px 20px;
  font-weight: 700;
  color:#fff;
  background: burlywood;
  border: none;
  transition: all 0.3s ease;
}

.Save:hover { background: aqua; }
.Delete:hover { background: red; }
.Update:hover { background: lightgreen; }
#shoppinglist { text-align : center; }
#shoppinglist input[type="button"]:hover { background: red } 

#shoppinglist h2 {
  font-size: 24px;
  color: blueviolet;
  width: 25%;
  margin: 0 auto;
  border: 1px solid;
  padding: 5px;
}

.list {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid;
  margin: 20px;
}

.items,
.values {
  width: 50%;
  border: 1px solid;
}

.items ul,
.values ul {
  display: flex;
  flex-direction: column;
  border-top: 1px solid;
}

.items h3,
.values h3 { font-size: 22px; }
.items ul li,
.values ul li { padding: 10px; }

/*=================================
  main styling ends here
=================================*/
